<div class="jumbotron">
	<%= Scms.renderView("_pages/about/jumbotron.html", page) %>
</div>

<h2>Steering Group</h2>
<%= Scms.renderView("_pages/about/staff.xml", page) %>

<h2>Collective</h2>
<%= Scms.renderView("_pages/about/collective.xml", page) %>