<ul class="nav navbar-nav">
	<li><a href="~/about.html">About Us</a></li>
	<li><a href="~/charity.html">Charity</a></li>
	<li><a href="~/valentines-entertainment.html">Valentines</a></li>
	<li><a href="http://www.wegottickets.com/event/253891" target="_blank">Tickets</a></li>
</ul>