<ul class="nav navbar-nav">
	<li><a href="~/event-cash-for-kids.html">Next Event</a></li>
	<li><a href="http://www.skiddle.com/whats-on/Leeds/White-Cloth-Gallery/Swan-Love-/12642666/" target="_blank">Tickets</a></li>
	<li><a href="https://www.dropbox.com/sc/lok0amcsfz1bkom/AADPIfuAYOWULT-obFA0eOvua" target="_blank">Gallery</a></li>
    <li><a href="~/charity.html">Charity</a></li>
	<li><a href="sponsors.html">Sponsors</a></li>
    <li><a href="~/about.html">About Us</a></li>
</ul>
