<!-- Carousel -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="item active">
      <img src="~/images/swan-love.jpg" alt="Swan Love">
      <div class="container">
        
        
        <div class="carousel-caption">
          <!-- 
			<p><a class="btn btn-lg btn-primary" href="http://www.wegottickets.com/event/253891" target="_blank" role="button">Book Your Tickets</a></p>-->
          
          <audio id="player" controls>
            <source src="~/mp3/valley-of-the-shadows.mp3" type="audio/mpeg">
          </audio>
        </div> 
      </div>
    </div>
  </div>
</div>
<!-- /.carousel -->