<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5&appId=554434371386323";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <div class="col-md-7">
    <h2 class="featurette-heading">Social Media - <span class="text-muted">keep-up-to-date.</span></h2>
    <p class="lead">Get the lowdown as and when it happens via our social media channels. <a href="https://www.facebook.com/SwanLoveEvents" target="_blank">Facebook</a>, <a href="https://twitter.com/SwanLoveEvents" target="_blank">Twitter</a>, <a href="http://www.linkedin.com/groups?gid=6522019&trk=my_groups-b-grp-v" target="_blank">LinkedIn</a></p>
  </div>
  <div class="col-md-5">
    <div class="fb-page" data-href="https://www.facebook.com/swanloveevents" data-tabs="timeline" data-width="500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/swanloveevents"><a href="https://www.facebook.com/swanloveevents">Swan Love Events</a></blockquote></div></div>
  </div>