      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <a class="twitter-timeline" href="https://twitter.com/SwanLoveEvents" data-widget-id="421298402991693824">Tweets by @SwanLoveEvents</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Social Media - <span class="text-muted">keep-up-to-date.</span></h2>
          <p class="lead">Get the lowdown as and when it happens via our social media channels. <a href="https://www.facebook.com/SwanLoveEvents" target="_blank">Facebook</a>, <a href="https://twitter.com/SwanLoveEvents" target="_blank">Twitter</a>, <a href="http://www.linkedin.com/groups?gid=6522019&trk=my_groups-b-grp-v" target="_blank">LinkedIn</a></p>
        </div>
      </div>